<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	
	<!-- Appender, Layout 로그 출력 방식 -->
	<Appenders>
    	<!-- 콘솔 출력 방식 -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	
	<!-- Logger 설정 -->
	<Loggers>
		<Logger name="onlyListLogger" level="DEBUG"></Logger>
		<Root level="DEBUG">
			<appender-ref ref="console-log" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>